@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Mulish;
}
/* shering css */
:root {
  --btn-color: rgb(255, 84, 0);
  --text-color: rgb(19, 19, 24);
}
/* header section */
header {
  width: 100%;
}
nav {
  padding: 5px 2px;
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
nav .logo img {
  height: 40px;
}
nav span {
  color: var(--btn-color);
}
.logo h2 {
  font-size: 4vw;
}
nav .menu-bar ul {
  display: flex;
  align-items: center;
  gap: 2vw;
}
nav .menu-bar ul li {
  list-style: none;
}
#color {
  color: var(--btn-color);
}

nav .menu-bar ul li a {
  font-size: 2vw;
  text-decoration: none;
  color: var(--text-color);
}
/* bennar section  */
.bennar {
  margin: 40px auto;
  height: 370px;

  width: 95%;
  background-image: linear-gradient(
      40deg,
      rgba(128, 128, 128, 0.349),
      rgba(0, 0, 0, 0.726)
    ),
    url(./B9A2-Hero-Travel/bennar.png);

  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.bennar h1 {
  font-size: 6vw;
  color: white;
  padding: 10px;
}
.bennar p {
  font-size: 14px;
  color: white;
  padding: 10px 5px;
}
.bennar input,
select,
button {
  height: 30px;
  padding: 6px;
  width: 100px;
  border: none;
  border-radius: 6px;
  margin: 10px 3px;
}
.bennar .inp-section {
  margin-top: 20px;
  padding: 4px 4px;
  background: rgba(139, 135, 135, 0.582);
  backdrop-filter: blur(4px);
  border-radius: 7px;
}
.bennar button {
  background-color: var(--btn-color);
}
/* main section */
main {
  width: 100%;
  margin: 30px 0px 0px 0px;
}
.popular {
  width: 95%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.text-section {
  width: 50%;

  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-section h2 {
  font-size: 30px;
  padding: 10px 0px;
}
.text-section ul {
  padding: 8px 0px;
  padding-left: 14px;
}
.text-section ul li {
  padding: 7px 0px;
}
.text-section button {
  background-color: var(--btn-color);
  padding: 4px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.img-section {
  width: 50%;
  height: 400px;
}
.img-section img {
  width: 100%;
  height: 100%;
}
/* img text section */
.img-text {
  width: 70%;
  margin: 20px auto;

  text-align: center;
}
.img-text h2 {
  font-size: 4.4vw;
  padding: 10px 4px;
  letter-spacing: -1px;
}
.img-text p {
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
}
/* img contenar  */
.img-contenar {
  width: 95%;
  border: 2px solid red;
  margin: 10px auto;
}
.fast-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.bg-img {
  height: 280px;
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 5.png);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
.bg-img2 {
  height: 280px;
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 8.png);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
.bg-img h3,
.bg-img2 h3 {
  color: white;
}
.secoud-box {
  margin: 15px 0px;
  display: grid;
  grid-template-columns: 0.9fr 1.3fr 0.8fr;
  gap: 15px;
}
.secoud-box .main-img {
  border-radius: 8px;
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 6.png);
  height: 280px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.secoud-box .main-img2 {
  border-radius: 8px;
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 7.png);
  height: 280px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.secoud-box .main-img3 {
  border-radius: 8px;
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 9.png);
  height: 280px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.last-box {
  margin: 15px 0px;
  display: grid;
  height: 280px;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 15px;
  color: white;
}
.last-box .last-img {
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 11.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}
.last-box .last-img2 {
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 10.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

@media screen and (max-width: 550px) {
  .popular {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 2px;
  }
  .text-section,
  .img-section {
    width: 95%;
  }
  .inp-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
  }
  .bennar input,
  select,
  button {
    width: 150px;
  }
  .bennar {
    height: 400px;
  }
  .fast-box,.secoud-box,.last-box{
    grid-template-columns: 1fr;
  }
  
}
