@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Mulish;
}
/* shering css */
:root {
  --btn-color: rgb(255, 84, 0);
  --text-color: rgb(19, 19, 24);
}
/* header section */
header {
  width: 100%;
}
nav {
  padding: 5px 2px;
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
nav .logo img {
  height: 40px;
}
nav span {
  color: var(--btn-color);
}
.logo h2 {
  font-size: 4vw;
}
nav .menu-bar ul {
  display: flex;
  align-items: center;
  gap: 2vw;
}
nav .menu-bar ul li {
  list-style: none;
}
#color {
  color: var(--btn-color);
}

nav .menu-bar ul li a {
  font-size: 2vw;
  text-decoration: none;
  color: var(--text-color);
}
/* bennar section  */
.bennar {
  margin: 40px auto;
  height: 370px;

  width: 95%;
  background-image: linear-gradient(
      40deg,
      rgba(128, 128, 128, 0.349),
      rgba(0, 0, 0, 0.726)
    ),
    url(./B9A2-Hero-Travel/bennar.png);

  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.bennar h1 {
  font-size: 6vw;
  color: white;
  padding: 10px;
}
.bennar p {
  font-size: 14px;
  color: white;
  padding: 10px 5px;
}
.bennar input,
select,
button {
  height: 30px;
  padding: 6px;
  width: 100px;
  border: none;
  border-radius: 6px;
  margin: 10px 3px;
}
.bennar .inp-section {
  margin-top: 20px;
  padding: 4px 4px;
  background: rgba(139, 135, 135, 0.582);
  backdrop-filter: blur(4px);
  border-radius: 7px;
}
.bennar button {
  background-color: var(--btn-color);
}
/* main section */
main {
  width: 100%;
  margin: 30px 0px 0px 0px;
}
.popular {
  width: 95%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.text-section {
  width: 50%;

  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-section h2 {
  font-size: 30px;
  padding: 10px 0px;
}
.text-section ul {
  padding: 8px 0px;
  padding-left: 14px;
}
.text-section ul li {
  padding: 7px 0px;
}
.text-section button {
  background-color: var(--btn-color);
  padding: 4px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.img-section {
  width: 50%;
  height: 400px;
}
.img-section img {
  width: 100%;
  height: 100%;
}
/* img text section */
.img-text {
  width: 70%;
  margin: 20px auto;

  text-align: center;
}
.img-text h2 {
  font-size: 4.4vw;
  padding: 10px 4px;
  letter-spacing: -1px;
}
.img-text p {
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
}
/* img contenar  */
.img-contenar {
  width: 95%;
  /* border: 2px solid red; */
  margin: 10px auto;
}
.fast-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.bg-img {
  height: 280px;
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 5.png);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
.bg-img2 {
  height: 280px;
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 8.png);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
.bg-img h3,
.bg-img2 h3 {
  color: white;
}
.secoud-box {
  margin: 15px 0px;
  display: grid;
  grid-template-columns: 0.9fr 1.3fr 0.8fr;
  gap: 15px;
}
.secoud-box .main-img {
  border-radius: 8px;
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 6.png);
  height: 280px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.secoud-box .main-img2 {
  border-radius: 8px;
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 7.png);
  height: 280px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.secoud-box .main-img3 {
  border-radius: 8px;
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 9.png);
  height: 280px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.last-box {
  margin: 15px 0px;
  display: grid;
  height: 280px;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 15px;
  color: white;
}
.last-box .last-img {
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 11.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}
.last-box .last-img2 {
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 10.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}
/* choose section */
.choose-section {
  max-width: 80%;
  margin: 50px auto;
  text-align: center;
}
.choose-section h1 {
  font-size: 7vw;
  font-weight: 400;
  padding: 10px;
}
.choose-section p {
  font-size: 15px;
  padding: 10px;
}
/* location */
.location {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}
.location-box1,
.location-box2 {
  background-color: rgba(185, 93, 6, 0.822);
  width: 50%;
  border-radius: 10px;
  padding: 20px;
  min-height: 180px;
}
.location-box1 {
  background-color: rgba(252, 201, 144, 0.904);
}
.location-box1 h1 {
  padding: 10px;
}
.location-box1 p {
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}
.location-box2 {
  background-color: rgba(0, 255, 255, 0.226);
}
.location-box2 h1 {
  padding: 10px 0px 10px 10px;
}
.location-box2 p {
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
}
/* best price */
.best-price {
  max-width: 450px;
  margin: 30px auto;
}
.price {
  background-color: #f5f7a583;
  padding: 20px;
  border-radius: 10px;
}
.price h1 {
  padding: 10px;
}
.price p {
  padding: 10px;
}
/* from section */
.from-section {
  width: 95%;

  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
}
.from-text {
  width: 50%;
  height: 300px;
  padding: 15px;
  border: 2px solid rgba(245, 161, 6, 0.342);
  border-radius: 10px;
}
.from-text h2 {
  font-size: 22px;
  padding: 3px 0px;
}
.from-text p {
  font-size: 15px;
  padding: 5px 0px 16px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}
.from-text input,
.sub {
  display: block;
  padding: 10px;
  margin: 20px 0px;
  width: 100%;
  border: none;
}
.from-text input {
  border-radius: 6px;
  background-color: rgba(128, 128, 128, 0.233);
}
.from-text .sub {
  background-color: var(--btn-color);
  text-align: center;
  padding: 0px;
  max-width: 100%;
  margin: 0 auto;
  height: 40px;
}
.from-img {
  border-radius: 10px;
  background-image: url(./B9A2-Hero-Travel/Images/from.png.png);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.from-img h5 {
  padding: 20px;
}
.from-img img {
  width: 100%;
  height: 100%;
}
/* img contenar box */
.fast-imgbox {
  width: 95%;
  margin: 20px auto;
  padding: 25px;
  background-image: url(./B9A2-Hero-Travel/Images/Group\ 39.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fast-imgbox div {
  background-color: rgba(255, 255, 255, 0.829);
  width: 50%;
  padding: 10px 5px;
  border-radius: 10px;
}
.fast-imgbox div h2 {
  margin-left: 5px;
  padding: 10px;
}
.fast-imgbox div p {
  margin-left: 5px;
  font-size: 15px;
  padding: 10px;
}
.fast-imgbox div h4 {
  margin-left: 5px;
  padding: 10px;
  color: var(--btn-color);
}
.fast-imgbox div button {
  background-color: var(--btn-color);
  margin-left: 15px;
}
.scnd {
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 7.png);
  justify-content: flex-start;
}
.trd{
  background-image: url(./B9A2-Hero-Travel/Images/Rectangle\ 8.png)
}
@media screen and (max-width: 550px) {
  .popular {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 2px;
  }
  .text-section,
  .img-section {
    width: 95%;
  }
  .inp-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
  }
  .bennar input,
  select,
  button {
    width: 150px;
  }
  .bennar {
    height: 400px;
  }
  .fast-box,
  .secoud-box,
  .last-box {
    grid-template-columns: 1fr;
  }
  .location {
    flex-direction: column;
  }
  .location-box1,
  .location-box2 {
    width: 90%;
  }
  .from-section {
    flex-direction: column;
    gap: 20px;
  }
  .from-text,
  .from-img {
    width: 90%;
  }
  .best-price {
    width: 88%;
  }
  .fast-imgbox {
    justify-content: center;

    width: 95%;
  }
  .fast-imgbox div {
    width: auto;
  }
}
